<?xml version="1.0" encoding="UTF-8"?>
<!--定义bean标签的规范-->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--1、导入bean（一般是接口名）和实现类-->
	<bean id="welcomeService" class="com.gao.service.impl.WelcomeServiceImpl"/>

</beans>

